.users {
    height: 60vh;
    overflow-y: auto;
    border-radius: 10px;
}

.user {
    margin-bottom: 10px;
}

.userPhoto {
    width: 100px;
    height: 100px;
}

.selectedPage {
    font-weight: bold;
}

.userName {
    margin-bottom: 5px;
}

.userStatus {
    margin-bottom: 5px;
}