.header {
    grid-area: h;
    background-color: rgb(56, 56, 56);
    color: #fff;
  }
  
  .header img {
    width: 20px;
  }

  .loginBlock {
    float: right
  }
  .loginBlock a {
    color: white
  }

  .username { 
    color: #ffffff
  }